<section>
  <div class="login-container">
    <app-sections-title titleContent="Crie sua conta"></app-sections-title>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input placeholder="Digite seu nome completo" formControlName="name" type="text" class="form-control" id="name">
        <app-input-invalid *ngIf="isNameInvalid" alertMessage="Nenhum nome foi digitado."></app-input-invalid>
        <app-input-invalid *ngIf="isNameTooShort"
          alertMessage="Digite pelo menos um nome e sobrenome."></app-input-invalid>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input placeholder="Digite um email válido" formControlName="email" type="text" class="form-control" id="email">
        <app-input-invalid *ngIf="isEmailInvalid" alertMessage="Digite um email válido."></app-input-invalid>
        <app-input-invalid *ngIf="isEmailAlreadyInUse"
          alertMessage="Este email já foi cadastrado. Se cadastre com outro email"></app-input-invalid>
      </div>
      <div class="mb-3 d-flex justify-content-center gap-4">
        <div>
          <label for="password" class="form-label">Senha:</label>
          <input placeholder="Crie sua senha" formControlName="password" type="password" class="form-control"
            id="password">
        </div>
        <div>
          <label for="passwordRepeat" class="form-label">Confirme a senha:</label>
          <input placeholder="Repita a senha" formControlName="passwordRepeat" type="password" class="form-control"
            id="passwordRepeat">
        </div>
      </div>
      <app-input-invalid *ngIf="isPasswordInvalid"
        alertMessage="Digite uma senha com pelo menos 02 dígitos."></app-input-invalid>
      <app-input-invalid *ngIf="isPasswordRepeatInvalid"
        alertMessage="Digite a mesma senha no campo de 'Confirme a senha'."></app-input-invalid>
      <app-input-invalid *ngIf="serverError"
        alertMessage="Houve um problema com o servidor. Tente novamente mais tarde"></app-input-invalid>
      <app-alert-success *ngIf="successfulCreatedUser"
        alertContent="Usuário criado com sucesso! Agora faça o login."></app-alert-success>
      <app-button-main buttonType="submit" buttonContent="Crie sua conta"></app-button-main>
    </form>
  </div>
</section>