<section>
  <div class="login-container">
    <app-sections-title titleContent="Entre em sua conta"></app-sections-title>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input formControlName="email" type="text" class="form-control" id="email">
        <app-input-invalid *ngIf="isEmailInvalid"
          alertMessage="Email está incorreto. Digite novamente."></app-input-invalid>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha:</label>
        <input formControlName="password" type="password" class="form-control" id="password">
        <app-input-invalid *ngIf="isPasswordInvalid" alertMessage="Digite uma senha."></app-input-invalid>
        <app-input-invalid *ngIf="isPasswordWrong"
          alertMessage="Senha está incorreta. Digite novamente."></app-input-invalid>
      </div>
      <app-button-main buttonType="submit" buttonContent="Login"></app-button-main>
      <p class="mt-3">Ainda não possui uma conta? <a routerLink="/cadastro">Clique aqui</a> para criar.</p>
    </form>
  </div>
</section>