<div class="movie-list-background">
  <app-sub-titles [content]="listTite" class="text-center"></app-sub-titles>
  <ul>
    <div class="upcoming-movies">
      <li *ngFor="let movie of currentUser?.favorites ">
        <a [routerLink]="'/filme/' + movie.id">
          <img src="{{ baseUrlImages }}/{{ movie.poster_path }}" alt="{{ movie.title }}">
        </a>
        <button (click)="removeFromFavorites(movie)" type="button" class="add-watchlist">-
          Favoritos</button>
        <button (click)="addToWatchlist(movie)" type="button" class="add-watchlist">+
          Watchlist</button>
      </li>
    </div>
    <div class="no-movies-message" *ngIf="favoriteMovies < 1">Parece que não há nada por aqui. Por que não começa
      adicionando um filme à sua lista de favoritos?</div>