@use "colors.scss";

@mixin section-title() {
  background-color: colors.$darkBlue;
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@mixin movie-lists() {
  .movie-list-background {
    padding: 24px;
    background-color: colors.$black;
    border-radius: 6px;
    margin-bottom: 16px;

    ul {
      margin: 0;
      padding: 0;

      .upcoming-movies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 8px;

        img {
          width: 100%;
          border-radius: 3px;
        }

        .add-watchlist {
          background-color: colors.$blue;
          border: none;
          margin-top: 8px;
          color: colors.$white;
          border-radius: 4px;
          padding: 4px;
          font-size: 0.7em;
          margin-right: 4px;

        }
      }
    }
  }
}
