<div class="movie-list-background">
  <app-sub-titles [content]="listTite" class="text-center"></app-sub-titles>
  <ul>
    <div class="upcoming-movies">
      <li *ngFor="let movie of upcomingMovies ">
        <img src="{{ baseUrlImages }}/{{ movie.poster_path }}" alt="{{ movie.title }}">
        <button (click)="addToWatchlist(movie)" type="button" class="add-watchlist">+
          Watchlist</button>
        <button (click)="addToFavorites(movie)" type="button" class="add-watchlist">+
          Favoritos</button>
      </li>
    </div>