@use "../../utils/colors.scss";
@use "../../utils/mixins.scss";

section {
  position: relative;
  color: colors.$white;
  z-index: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  div {
    width: 360px;
  }

  .login-container {
    @include mixins.section-title()
  }

}
