<section>
  <div class="login-container">
    <app-sections-title titleContent="Crie sua conta"></app-sections-title>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input formControlName="email" type="text" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha:</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <label for="passwordRepeat" class="form-label">Repita a senha:</label>
        <input formControlName="passwordRepeat" type="passwordRepeat" class="form-control" id="passwordRepeat">
      </div>
      <!-- <button type="submit" class="btn btn-primary">Crie sua conta</button> -->
      <app-button-main buttonType="submit" buttonContent="Crie sua conta"></app-button-main>
    </form>
  </div>
</section>