
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  border-radius: 3px;
}

.upcoming-movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.movie-list-background {
  padding: 24px;
  background-color: #191919;
  border-radius: 6px;
}
